header {
    background-color: aqua;
    

    h1 {
        color: yellow;
        text-align: center;
        
    }

    div {
        h2 {
            font-family: 'Times New Roman', Times, serif;
        }

        ul {
            li {
                display: none;
            }
        }

    }

    
}
main {
    section {
        h2 {
            font-size: 100px;
        }
    }
}