main {
    section {
        h2 { 
            background-color: brown;
            font-size: 100px;
        }
        div {
            .boton-principal {
                color: black;
                text-decoration: none;
            }
        }
    }
}